<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MagicSQL" version="3.501.00.005" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net48" />
  <package id="PlusUltra" version="1.55.41.105" targetFramework="net48" />
  <package id="SwissKnife" version="1.0.0.36" targetFramework="net48" />
</packages>